---
title: Gallery
date: 2017-12-25 19:41:00 -05:00
permalink: "/gallery/index.html"
layout: busy
---

{% for collection in site.collections %}{% if collection.label == "gallery" %}{% for upload in collections.uploads| sort:'date' | reverse %}
  {% assign extension = upload.file | split:'.' | last | downcase %}
  {% case extension %}
  {% when "jpg" or "jpeg" or "png" or "gif" or "svg" %}
    <p><a href="{{ upload.file }}">
      <div><span class="upload_name">{{ upload.name }}</span><span class="upload_date">{{ upload.date | date:"%D" }}</span></div>
      <div><img alt="{{ upload.name }}" src="{{ upload.file }}"></div>
    </a></p>
  {% else %}
    <p><a href="{{ upload.file }}">
      <div><span class="upload_name">{{ upload.name }}</span><span class="upload_date">{{ upload.date | date:"%D" }}</span></div>
    </a></p>
  {% endcase %}
{% endfor %}{% endif %}{% endfor %}
