---
---

body {
  background-color: #20343b;
  color: #fff;
  font-size: 14px;
  @media (max-width:800px) {
    font-size: 11px;
  }
}
header {
  font-size: 200%;
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 130%;
  }
  a, a:hover {
    text-decoration: none;
  }
  #main_nav {
    a:hover {
      text-decoration: underline;
    }
  }
}
#footer{
  font: 60%;
}
