---
layout: master
---

<div id="blog-side-bar">
  <div id="blog-side-inner">
    <h5>recent posts</h5>
    {% for post in site.posts limit:site.side_bar.posts.quantity %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </div>
</div>
<div id="uploads-side-bar">
  <div id="uploads-side-inner">
    <h5>recent uploads</h5>
    {% for file in site.static_files %};{{ file.path }},{{file.name}};{% endfor %}
    {% for file in site.static_files %}{% if image.path contains '/uploads/' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        <li><a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
          {% assign extension = file.extname | downcase %}
          {% case extension %}
            {% when ".jpg" or ".jpeg" or ".png" or ".gif" or ".svg" %}
              <img src="{{ site.baseurl }}{{ image.path }}" class="side_bar_image">
            {% else %}
              {{ file.name }}
          {% endcase %}
        </a></li>
    {% endif %}{% endfor %}
  </div>
</div>

<div id="page_contents">
  {{ content }}
</div>
