---
layout: master
---

<div id="blog-side-bar">
  <div id="blog-side-inner">
    <h5>recent</h5>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </div>
</div>
<div id="twitter-side-bar">
  <div id="twitter-side-inner">
    <a class="twitter-timeline"
       data-width="220"
       data-height="600"
       data-dnt="true"
       data-chrome="noheader nofooter noborders transparent noscrollbar"
       data-theme="dark"
       data-link-color="{{ site.site_colors.dark_background }}"
       href="https://twitter.com/search?q={{ site.twitter_settings.search_query| url_encode }}"
       data-widget-id="{{ site.twitter_settings.widget_id }}">
      Tweets about #OurChildrensTrust OR #MaineClimateProtectors OR from:350Maine OR from:SierraClubMaine
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<div id="page_contents">
  {{ content }}
</div>
